@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:  'IBMPlexSansKR-Regular';
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.App {
  width: 100%;
  height: 100%;
}

#squat {
  margin-left: 38px;
}

.freeweightBox {
  background-color: rgba(128, 128, 128, 0.5);
  width: 480px;
  height: 480px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  border-radius: 10%;
  margin-top: 12%;
}

.freeweightBox h1 {
  padding-top: 65px;
}

.freeweightBox ul {
  padding-top: 20px;
  padding-right: 50px;
  list-style: none;
}

.freeweightBox li {
  font-size: 22px;
  margin-top: 15px;
}

#sbd {
  margin-top: 25px;
  margin-left: 5px;
  background-color: black;
  border: 1px solid white;
  color: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
}

#sbd:hover {
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.5);
  border: rgba(0, 0, 0, 0.5);
}


.homeMode {
  width: 600px;
  height: 40px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid rgb(192, 192, 192);
}

.homeMode ul {
  list-style: none;
}

.homeMode li {
  font-size: 18px;
  margin-left: 10px;
  float: left;
}

.chart {
  margin-top: 150px;
}

.chart ul {
  list-style: none;
}

.chart li {
  margin-left: 4.4%;
  float: left;
}

.chart h4 {
  background-color: darkmagenta;
  width: 120px;
  color: white;
  text-align: center;
  margin-left: 210px;
}

#NewPR {
  margin-right: 30px;
  text-align: center;
  float: right;
  background-color: gold;
  border: gold;
  color: black;
  width: 240px;
  height: 80px;
  font-size: 18px;
}

#NewPR:hover {
  cursor: pointer;
  background-color: hotpink;
  border: hotpink;
}

#Recode {
  margin-right: 30px;
  text-align: center;
  float: right;
  background-color: aquamarine;
  border: aquamarine;
  color: black;
  width: 240px;
  height: 80px;
  font-size: 18px;
}

#Recode:hover {
  cursor: pointer;
  background-color: hotpink;
  border: hotpink;
}

#date {
  margin-top: 1%;
  width: 200px;
  text-align: center;
  font-size: 18px;
  border: 2px solid black;
}

textarea {
  margin-top: 2.5%;
  width: 20%;
  height: 400px;
  overflow: hidden;
  resize: none;
  border: 2px solid white;
  background-color:rgba(0, 0, 0, 0.888);
  color: white;
  font-size: 20px;
}

textarea::placeholder {
  color : white;
  font-size : 18px;
}

.recodearea {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.read {
  position: absolute;
  width: 100%;
  margin-top: 450px;
  justify-content: center;
}

.read h2 {
  text-align: center;
}

.card {
  width: 360px;
  height: 360px;
  float: left;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid white;
  white-space: pre-wrap;
}

.card h4, p {
  margin-left: 5px;
}

.deleteArea {
  position: absolute;
  bottom: 0;
}

#delete {
  margin-bottom: 5px;
  margin-right: 10px;
  float: right;
  background-color: darkkhaki;
  border: darkkhaki;
  color: white;
  font-size: 15px;
  width: 60px;
}

#delete:hover {
  cursor: pointer;
  color:black;
  background-color:violet;
  border: violet;
}

#update {
  margin-bottom: 5px;
  margin-right: 10px;
  float: right;
  background-color: darkkhaki;
  border: darkkhaki;
  color: white;
  font-size: 15px;
  width: 60px;
}

#update:hover {
  cursor: pointer;
  color:black;
  background-color:violet;
  border: violet;
}

#save {
  background-color: black;
  border: black;
  color: white;
  font-size: 18px;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 100%;
}

#save:hover {
  cursor: pointer;
  color:black;
  background-color: lightgreen;
  border : lightgreen;
}

.home {
  text-align: center;
}


.images img {
  margin-left: 20px;
  margin-top: 20px;
  width: 800px;
  height: 800px;
}

footer {
  margin: 0;
  padding: 0;
  color: white;
}

.footerparent { 
  background-color: black;
  height: 30px;
  padding: 0;
}

#mypagebtn {
  background-color: lightgreen;
  border: lightgreen;
  width: 80px;
  height: 40px;
  margin-right: 10px;
}

#mypagebtn:hover {
  cursor: pointer;
  color:black;
  background-color: rgba(144, 238, 144, 0.651);
  border : rgba(144, 238, 144, 0.651);
}

#loginbtn {
  background-color: aquamarine;
  border: aquamarine;
  width: 80px;
  height: 40px;
}

#loginbtn:hover {
  cursor: pointer;
  color:black;
  background-color: rgba(127, 255, 212, 0.623);
  border: rgba(127, 255, 212, 0.623);
}

.btnarea {
  float: right;
  margin-right: 2%;
}

.sineup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sineup h1 {
  color: lavender;
  margin-top: 50px;
  text-align: center;
}

.sineup form {
  border: 4px solid lavender;
  width: 600px;
  height: 600px;
}

.input-wrapper {
  color: lavenderblush;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.input-wrapper input {
  background-color: lavender;
  border: 3px solid black;
  width: 300px;
}

.submit-wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.submit-wrapper button {
  font-size: 18px;
  color: black;
  font-weight: bold;
  background-color: lavender;
  border: 2px solid black;
  width: 200px;
  height: 50px;
}

.submit-wrapper button:hover {
  cursor: pointer;
}

