@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:  'IBMPlexSansKR-Regular';
  background-color: whitesmoke;
}

.App {
  width: 100%;
  height: 100%;
}

#squat {
  margin-left: 29px;
}

.freeweightBox {
  background-color: rgb(110, 214, 255);
  width: 360px;
  height: 360px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10%;
  margin-top: 12%;
}

.freeweightBox h2 {
  padding-top: 50px;
}

.freeweightBox ul {
  padding-top: 20px;
  padding-right: 50px;
  list-style: none;
}

.freeweightBox li {
  margin-top: 10px;
}

#sbd {
  margin-top: 15px;
  margin-left: 5px;
  background-color: black;
  border: black;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 500;
}

#sbd:hover {
  cursor: pointer;
  background-color:hotpink;
  border: hotpink;
}


.homeMode {
  width: 600px;
  height: 40px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
}

.homeMode ul {
  list-style: none;
}

.homeMode li {
  font-size: 18px;
  margin-left: 10px;
  float: left;
}

.chart {
  margin-top: 150px;
}

.chart ul {
  list-style: none;
}

.chart li {
  margin-left: 4.4%;
  float: left;
}

.chart h4 {
  background-color: darkmagenta;
  width: 120px;
  color: white;
  text-align: center;
  margin-left: 210px;
}

#NewPR {
  margin-right: 30px;
  text-align: center;
  float: right;
  background-color: gold;
  border: gold;
  color: black;
  width: 240px;
  height: 80px;
  font-size: 18px;
}

#NewPR:hover {
  cursor: pointer;
  background-color: hotpink;
  border: hotpink;
}

#Recode {
  margin-right: 30px;
  text-align: center;
  float: right;
  background-color: aquamarine;
  border: aquamarine;
  color: black;
  width: 240px;
  height: 80px;
  font-size: 18px;
}

#Recode:hover {
  cursor: pointer;
  background-color: hotpink;
  border: hotpink;
}

textarea {
  width: 50%;
  height: 600px;
  resize: none;
  border: 2px solid black;
  background-color: whitesmoke;
  font-size: 20px;
}

textarea::placeholder {
  color : rgb(110, 110, 110);
  font-size : 18px;
}

.recodeArea {
  margin: 0 auto;
  text-align: center;
}

.read {
  position: absolute;
  width: 100%;
  margin-top: 450px;
  justify-content: center;
}

.read h2 {
  text-align: center;
}

.list {
  width: 500px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid black;
}

.list h4, p {
  margin-left: 5px;
}

#delete {
  margin-bottom: 5px;
  margin-right: 10px;
  float: right;
  background-color: black;
  border: black;
  color: white;
  font-size: 15px;
  width: 60px;
}

#delete:hover {
  cursor: pointer;
  color:black;
  background-color:violet;
  border: violet;
}